<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">

    <link rel="icon" type="image/x-icon" href="img/favicon_32.ico">
    <link href="//fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Measurement Station Viewer</title>

    <!-- build:remove -->
    <base href="/">
    <!-- /build -->

    <!-- build:template
    <base href="<%= context %>">
    /build -->

    <!-- build:template
    <link href="css/<%= filename %>.min.css" rel="stylesheet" type="text/css"/>
    /build -->

    <!-- build:remove -->
    <!-- start style -->
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css"/>
    <link href="css/app.css" rel="stylesheet" type="text/css"/>
    <!-- end style -->
    <!-- /build -->

    <!-- build:template
    <script src="js/<%= filename %>.min.js" type="text/javascript"></script>
    /build -->

    <!-- build:remove -->
    <!-- start scripts -->
    <script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="bower_components/angular-messages/angular-messages.js" type="text/javascript"></script>
    <script src="bower_components/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js" type="text/javascript"></script>
    <script src="bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
    <script src="bower_components/ui-leaflet/dist/ui-leaflet.js" type="text/javascript"></script>
    <script src="bower_components/d3/d3.js" type="text/javascript"></script>
    <script src="bower_components/plotlyjs/plotly.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/directives/plotly-directive.js" type="text/javascript"></script>
    <script src="js/controller/diagram.js" type="text/javascript"></script>
    <!-- end scripts -->
    <!-- /build -->
    
    <!-- build:template
    <script type="text/javascript">
      L.Icon.Default.imagePath = 'images';
    </script>
    /build -->
</head>
  <body ng-app="mapViewer">
    <div ng-controller="MapController">
      <leaflet defaults="defaults" tiles="tiles" lf-center="center" height="100%" width="100%"></leaflet>
    </div>
  </body>
</html>
